// import Mixin:
@import '../../../../styles/Mixins';

html:lang(fa),
html:lang(ar) {
  /*.productsOneColumnVertical--item .ant-row-rtl {
    direction: ltr;
  }

  .productsOneColumnVertical--item__title {
    direction: rtl;
  }*/
}

.productsOneColumnVertical--item {
  .productsOneColumnVertical--item__image {

    img {
      max-width: 100%;
    }
  }

  /*.productsOneColumnVertical--item__title {
    padding: 0 1rem;
    font-size: 1.4rem;

    @media (min-width: @screen-md) {
      padding: 0 1.5rem;
      font-size: 1.8rem;
    }
  }*/

  /*.productsOneColumnVertical--item__price,
  .productsOneColumnVertical--item__description {
    padding: 1rem 1rem 0 1rem;

    @media (min-width: @screen-md) {
      padding: 1rem 1.5rem 0 1.5rem;
    }
  }*/

  .productsOneColumnVertical--item__location-sendRequestBtn {
    //padding: 1rem 1rem 1.3rem 1rem;
    padding-bottom: 1.3rem;

    /*@media (min-width: @screen-md) {
      padding: 1rem 1.5rem 1.3rem 1.5rem;
    }*/

    .productsOneColumnVertical--item__location {
      font-size: 1.4rem;
      @media (min-width: @screen-md) {
        font-size: 1.7rem;
      }
      color: #474747;
    }

    .productsOneColumnVertical--item__sendRequestBtn {
      font-size: 1.3rem;
      @media (min-width: @screen-md) {
        font-size: 1.5rem;
      }
      color: #929191;
      display: inline;
      vertical-align: middle;
    }
  }

  .productsOneColumnVertical--item__sendRequestBtn {
    width: 105px;
    height: 31px;
    padding-bottom: 3px !important;
    z-index: 2;

    span {
      color: #3ba949;
    }

    &:hover {
      background-color: #3ba949;

      span {
        color: #ffffff;
      }
    }
  }

  .productsOneColumnVertical--item__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

}
