.ProductsMultiColumnHorizontal--container {
  .ProductsMultiColumnHorizontal--content {
    .ProductsMultiColumnHorizontal--item {
      &:not(:last-child) {
        margin-bottom: 3rem!important;
      }
      .ProductsMultiColumnHorizontal--image {
        width: 140px;
        height: 140px;

        img {
          max-height: 100%;
        }
      }
    }
  }
}