// import Mixin:
@import '../../../../styles/Mixins';

.productTab--container {
  .productTab--tab {
    overflow: unset !important;

    .ant-tabs-nav {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 10;
      margin: 0;
      padding-bottom: 16px;
      background-color: #F6F6F6;

      .ant-tabs-nav-list {
        width: 100%;
        background-color: #EFEFEF;

        .ant-tabs-tab {
          width: 50%;
          height: 30px;
          background-color: transparent;
          justify-content: center;
          border: 1px solid #707070;
          margin: 0;
          &:first-of-type {
            border-left: none;
          }

          &:nth-last-of-type(2) {
            border-right: none !important;
          }

          &.ant-tabs-tab-active {
            background-color: #ffffff;
            border: none;

            .ant-tabs-tab-btn {
              color: @primary-color;
            }
          }

          .ant-tabs-tab-btn {
            font-size: 1.3rem;
            color: #474747;
            display: block;
          }
        }
      }
    }

    .ant-tabs-content-holder {
      padding: 0 4rem;

      .productSpecifications--container {
        // This Commit Only For Backup ProductSpecifications use Anchor
        .productSpecifications--sectionAnchorLinks {
          .ant-affix {
            .ant-anchor-wrapper {
              padding-bottom: 16px;
              background-color: #F6F6F6;
            }
          }

          .ant-anchor-wrapper {
            .ant-anchor {
              .ant-anchor-link {
                display: inline-block;
                min-width: 200px;

                &.ant-anchor-link-active {
                  a {
                    color: #3ba949;
                    font-weight: bold;
                  }
                }

                a {
                  font-size: 1.8rem;
                  color: #8b8b8b;

                  &:hover {
                    color: #3ba949;
                  }
                }



                .ant-anchor-ink-ball {
                  //display: none;
                }
              }

            }
          }
        }
      }
    }
  }
}