// import Mixin:
@import '../../styles/Mixins';

.homePage--container {
  .--requestSection {
    //height: calc(100vh - 170px);
    height: 533px;
    
    .--blurBg {
      background-image: url(../../assets/images/requests-bg.png);
      height: 100%;
      background-size: cover;
      filter: blur(4px);
      -webkit-filter: blur(4px);
    }
  }
}