// import Mixin:
@import '../../styles/Mixins';


html:lang(fa),
html:lang(ar) {
  .page--container {
    .blog-date {
      i {
        padding-right: 0;
        padding-left: .6rem;
      }
    }

    .blog---images__scrolled {
      img {
        &:first-child {
          padding-right: 0;
          padding-left: 6px;
        }

        &:last-child {
          padding-left: 0;
          padding-right: 6px;
        }
      }
    }
  }
}

.page--container {
  padding: 0;
  @media (min-width: @screen-md) {
    padding: 4.5rem calc(10.4rem + 70px);
  }

  & > .ant-col {
    padding: 2rem;
  }

  .page--name,
  .blog--name {
    font-size: 1.7rem;
    color: #000000;
    @media (min-width: @screen-md) {
      font-size: 2.5rem;
    }
  }

  .blog-date {
    font-weight: 600;

    &,
    i {
      font-size: 1.8rem;
    }

    time {
      font-size: 1.6rem;
    }

    i {
      padding-right: .6rem;
    }
  }

  .page--content  {
    color: #333333;

    * {
      font-size: 1.5rem;
      @media (min-width: @screen-md) {
        font-size: 2rem;
      }
    }
    a {
      text-decoration: none !important;
    }

    .blog---images__scrolled {
      overflow-x: auto;
      display: flex;
      margin-top: 4rem;

      img {
        padding: 0 6px;

        &:first-child {
         padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

}