// import Mixin:
@import '../../styles/Mixins';

html:lang(fa),
html:lang(ar) {
  .ant-tabs-nav-list .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 !important;
  }

  /*.sellerRegisterStep {
    .ant-steps-item {
      .ant-steps-item-tail {
        margin-left: 0;
        margin-right: 60px;
        &:after {
          margin-left: 0;
          margin-right: 25px;
        }
      }

      .ant-steps-item-icon {
        margin-left: 0;
        margin-right: 55px;
      }

      &.ant-steps-item-process,
      &.ant-steps-item-finish {
        .ant-steps-item-icon {
          .ant-steps-icon-dot {
            left: unset;
            right: unset;
          }
        }
      }
    }
  }

  .supporterReviewSection,
  .payingSubscriptionSection {
    .ant-row-rtl,
    .ant-col-rtl {
      direction: rtl;
    }
  }*/
}

.register--container {

  .register--content {
    margin-top: 2rem;

    @media (min-width: @screen-md) {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.17);
      border-radius: 10px;
      margin-top: 5rem;
      margin-bottom: 2rem;
    }
  }

  .register--topSection {
    margin-top: 2.5rem;

    @media (min-width: @screen-md) {
      margin-top: 4rem;
    }

    .logo-char img {
      width: 50px;

      @media (min-width: @screen-md) {
        width: 52px;
      }
    }

    .logo-text i {
      font-size: 2.8rem;

      @media (min-width: @screen-md) {
        font-size: 3.5rem;
      }
    }

    .top-msg {
      font-size: 1.5rem;
      color: #333333;

      @media (min-width: @screen-md) {
        font-size: 2rem;
      }
    }
  }

  .register-tab__container {
    .ant-tabs-nav {
      margin-bottom: 3rem;

      &::before {
        border: 0;
      }
    }

    .ant-tabs-nav-wrap {
      .ant-tabs-nav-list {
        width: 100%;

        @media (min-width: @screen-md) {
          width: 80%;
        }

        height: 45px;
        border: 2px solid #2D8327;
        border-radius: 50rem !important;

        .ant-tabs-tab {
          width: 50%;
          justify-content: center;

          &.ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              color: #FFFFFF;
            }
          }

          .ant-tabs-tab-btn {
            color: rgb(188, 188, 188);
            font-weight: 600;
            font-size: 2.1rem;
          }
        }

        .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
          height: 100%; // 36px
          z-index: -1;
          border-radius: 50rem;
          background-color: #2e8339;
          top: 0; // 2.8px
        }
      }
    }

    .register--loginContent {
      .ant-form-item {
        margin-bottom: 2rem;
      }

      .register--formContent__item {
        border-bottom: .5px solid #707070;

        &.for--businessType {
          border: 0 !important;
        }

        .ant-row.ant-form-item {
          margin: 0;

          .ant-select-selection-placeholder {
            color: #BCBCBC;
            font-size: 1.9rem;
          }

          .ant-select-arrow,
          .ant-input-suffix {
            svg {
              font-size: 1.9rem;
            }
          }

          .ant-form-item-explain.ant-form-item-explain-error {
            display: none;
          }

          .ant-input.ant-input-borderless {
            &::placeholder {
              opacity: 1;
              color: #BCBCBC;
              font-size: 1.9rem;
            }
          }
        }

        .ant-checkbox-inner {
          //border: 1px solid #BCBCBC;
        }

        .ant-checkbox + span {
          padding: 0 1.5rem;;
        }
      }

      .ant-form-item-has-error {
        border-bottom: 2px solid #f5222d !important;
      }

      .register--rememberMe {
        .ant-checkbox-wrapper {
          color: #929191;

          &:hover {
            color: #5f5e5e;
          }
        }
      }

      .register--registerBtn {
        margin-bottom: 0 !important;

        .ant-btn {
          border-radius: 6px;

          span {
            font-size: 2rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  .register--loginExtra {
    @media (min-width: @screen-md) {
      border-left: 1px solid #707070;

      &.ant-col-rtl {
        border-left: 0 !important;
        border-right: 1px solid #707070;
      }
    }

    .register--loginExtra__content {
      margin-top: 2rem;

    .registerSellerRules {
      font-size: 1.5rem;
      color: #929191;
      margin-bottom: 5rem;

      @media (min-width: @screen-md) {
        font-size: 2rem;
      }
    }

    .registerWithGoogleTxt {
      margin-bottom: 3rem;
    }

    .registerWithGoogleBtn {
      margin-bottom: 4rem;
      div.shadow-circle {
        width: 54px;
        height: 54px;
        line-height: 49px;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }

      .registerWithGoogleTxt,
      .registerWithGoogleBtn,
      .dontHaveAccountContainer {
        text-align: center;
      }

      .dontHaveAccountContainer {
        span,
        a {
          font-size: 1.5rem;

          @media (min-width: @screen-md) {
            font-size: 1.9rem;
          }
        }
      }

      @media (min-width: @screen-md) {
        margin-top: 8rem;
      }
    }
  }

  .sellerRegisterStep {
    margin-bottom: 4rem;

    .ant-steps-item {
      .ant-steps-item-tail {
        margin-left: 60px;
        &:after {
          margin-left: 25px;
          height: 5px;
          background: #BCBCBC;
          width: calc(100% - 27px);
        }
      }

      .ant-steps-item-icon {
        margin-left: 55px;
        border: 3px solid #2D8327;
        width: 30px;
        height: 30px;
        padding: .3rem;
      }

      .ant-steps-item-content {
        width: 150px;
        max-width: 150px;

        .ant-steps-item-title {
          display: none;
        }

        .ant-steps-item-description {
          font-size: 1.5rem;
          color: #929191;
          font-weight: 600;
        }
      }

      &.ant-steps-item-wait {
        .ant-steps-item-icon {
          border: 3px solid #BCBCBC;

          .ant-steps-icon-dot {
            display: none;
          }
        }
      }

      &.ant-steps-item-finish {
        .ant-steps-item-tail {
          &:after {
            background: #2D8327;
          }
        }


      }

      &.ant-steps-item-process,
      &.ant-steps-item-finish {
        .ant-steps-item-icon {
          .ant-steps-icon-dot {
            left: unset;
          }
        }

        .ant-steps-item-content {
          .ant-steps-item-description {
            color: #2D8327;
          }
        }
      }
    }
  }

  .successFull-Register {
    .anticon-check-circle svg {
      font-size: 7rem;
    }
  }

  .manufactureFormSection a {
    font-size: 2rem;

    i {
      font-size: 2rem;
      font-weight: 600;
      color: #2874F2;
    }

    &:hover {
      i {
        color: darken(#2874F2, 20)
      }
    }
  }

  .payingSubscriptionSection {
    .payingSubscriptionSection--title {
      font-size: 2rem;
    }

    .payingSubscriptionSection--payList {
      .payingSubscriptionSection--payList__img {
        height: 200px;
        text-align: center;
        img {
          height: 200px;
          max-height: 200px;
        }
      }

      .payingSubscriptionSection--payList__txt {
        font-size: 1.7rem;
        color: #333333;
      }


    }

    .paying--formContent {
      .ant-form-item-has-error {
        .ant-form-item-explain.ant-form-item-explain-connected {
          margin-top: 2rem;

          .ant-form-item-explain-error {
            font-size: 1.7rem;
          }
        }
      }

      .ant-radio-wrapper {
        .ant-radio {
          .ant-radio-inner {
            width: 18px;
            height: 18px;
            border-color: #BCBCBC;

            &:after{
              width: 10px;
              height: 10px;
            }
          }

          &.ant-radio-checked {
            .ant-radio-inner {
              border-color: #3ba949;

              &:after{
                width: 10px;
                height: 10px;
              }
            }
          }
        }

        span:nth-child(2) {
          font-size: 1.7rem;
        }
      }
    }
  }

  .supporterReviewSection {
    .supporterReviewSection--title {
      font-size: 2rem;
    }

    a {
      font-size: 2rem;

      i {
        font-size: 2rem;
        font-weight: 600;
        color: #2874F2;
      }

      &:hover {
        i {
          color: darken(#2874F2, 20)
        }
      }
    }
  }

  .nextStep,
  .prevStep {
    width: 100px;
    height: 35px;
    border-radius: 5px;

    span {
      font-size: 2rem;
    }
  }

  .nextStep {
    background-color: #3ba949;

    span {
      color: darken(#333333, 12%);
    }

    &:hover {
      span {
        color: darken(#333333, 25%);
      }
    }
  }

  .prevStep {
    span {
      color: #333333;
    }

    &:hover {
      span {
        color: darken(#333333, 20);
      }
    }
  }
}

.registerDone--message {
  .ant-message-notice-content {
    background-color: @primary-color;
    color: white;
    padding: 1.2rem 4rem;

    .ant-message-custom-content.ant-message-success {
      &> span {
        svg {
          color: #FFFFFF;
          font-size: 1.8rem;
        }
      }

      span + span {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
  }
}

.registerDone--warning {
  .ant-message-notice-content {
    background-color: #eea21e;
    color: white;
    padding: 1.2rem 4rem;

    .ant-message-custom-content.ant-message-warning {
      &> span {
        svg {
          color: #FFFFFF;
          font-size: 1.8rem;
        }
      }

      span + span {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 992px) {

  /*.ant-layout.layout {
    min-height: 100vh;
  }*/

  .site-layout-content.siteLayoutContent__register--page {
    height: calc(100vh - 41px);
  }

  .register--container {
    .register--content {
      align-self: center;
    }
  }
}