// import Mixin:
@import '../../../../styles/Mixins';

html:lang(fa),
html:lang(ar) {
  .productTab--container {
    .ant-row-rtl,
    .ant-col-rtl {
      direction: rtl !important;
    }
  }
}

.productTab--container {
  .productTab--tab {
    overflow: unset !important;
    background-color: #FFFFFF;

    .ant-tabs-nav {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 10;
      margin: 0;

      .ant-tabs-nav-list {
        width: 100%;
        background-color: #EFEFEF;

        .ant-tabs-tab {
          width: 50%;
          height: 30px;
          background-color: transparent;
          justify-content: center;
          border: 1px solid #707070;
          margin: 0;
          &:first-of-type {
            border-left: none;
          }

          &:nth-last-of-type(2) {
            border-right: none !important;
          }

          &.ant-tabs-tab-active {
            background-color: #ffffff;
            border: none;

            .ant-tabs-tab-btn {
              color: @primary-color;
            }
          }

          .ant-tabs-tab-btn {
            font-size: 1.3rem;
            color: #474747;
            display: block;
          }
        }
      }
    }

    .ant-tabs-content-holder {
      padding-top: 2.5rem;

      .productSpecifications--container {
        margin-bottom: 6.5rem;

        .productSpecifications--title {
          font-size: 1.4rem;
          padding: 0 1.3rem;
        }

        .variationsProducts--feature {
          table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
            padding-bottom: 1.5rem;
          }

          thead th,
          tbody td {
            color: #474747;
            font-size: 1.4rem;
          }

          thead tr th {
            text-align: center;
          }

          th, td {
            text-align: left;
            padding: 8px;
          }

          tbody {
            tr:nth-child(odd) {
              background-color: #F6F6F6
            }

            td {
              font-weight: bold;
              text-align: center;

              &:first-child {
                //padding-left: 2rem;
              }

              &:last-child {
                //padding-right: 2rem;
              }
            }
          }
        }

        .products--features {
          padding: 0 1.3rem;

          .features--variant,
          .features--value span,
          .features--value .certificationImages--title {
            font-size: 1.4rem;
          }

          .features--variant {
            font-weight: bold;
            color: #707070;
            flex: 0 0 auto;
          }

          .features--value {
            color: #474747;
            flex: 1 1;

            .certificationImages--image {
              margin-bottom: .6rem;
              height: 35px;
            }

            .colorFeature--icon {
              border-radius: 50%;
              height: 20px;
              width: 20px;
              display: inline-block;
              border: 2px solid #BCBCBC;
            }
          }
        }
      }
    }
  }
}