.productsMultiColumn--container {
  background: #FFFFFF;
  border: 1px solid #E9ECEF;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 8px;
  height: 100%;
  
  &:hover {
    filter: drop-shadow(-4px 4px 19px rgba(0, 0, 0, 0.06));
  }
  
  .--image {
    img {
      border-radius: 8px 8px 0 0;
      width: 100%;
    }
  }
  
  .--title {
    min-height: 44px;
  
    .ant-skeleton {
      &:first-child {
        .ant-skeleton-input {
          max-width: 90% !important;
          min-width: 90% !important;
        }
      }
    }
  }
  
  .--title,
  .--price,
  .--location {
    .ant-skeleton {
      width: 100%;
    
      .ant-skeleton-input {
        max-width: 100% !important;
        min-width: 100% !important;
        height: 13px;
      }
    }
  }
  
  .--title,
  .--location {
    padding: 0 8px;
  }
  
  .--price {
    color: #030304;
    font-weight: 500;
    direction: ltr;
  }
  
  .--price,
  .--piece {
    padding: 0 12px;
  }
  
  .--title,
  .--price,
  .--piece {
    span {
      color: #82879B;
      font-size: .857142857em;
    }
  }
  
  .--piece {
    color: #030304;
    font-size: .857142857em;
    
  }
  
  .--location {
    text-align: right;
    
    i {
      margin-right: 8px;
    }
  
    .ant-skeleton {
      .ant-skeleton-input {
        max-width: 30% !important;
        min-width: 30% !important;
      }
    }
  }
}