.homeLogisticsBanner--container {
  .homeLogisticsBanner--content {
    background-image: url(https://hornb2b.com/images/vv_images/slider/business/big/Logistics-en.png);
    background-size: cover;
    .homeLogisticsBanner--text {
      background-color: rgba(0,0,0,0.7) !important;
    }
  }
}