.homeLogisticsBanner--container {
  .homeLogisticsBanner--content {
    background-image: url(https://hornb2b.com/images/vv_images/slider/business/big/Logistics-en.png);
    background-size: cover;
    .homeLogisticsBanner--caption {
      background-color: rgba(0,0,0,0.7) !important;
      padding: 3rem 0!important;
      .homeLogisticsBanner--caption__text1 {
        font-size: 2.5rem !important;
      }
      .homeLogisticsBanner--caption__btn {
        padding-top: 5rem !important;
        .ant-btn {
          padding: 0 2rem !important;
        }
      }
    }
  }
}