.requestsList--container {
  .requestsList--content {
    background-image: url(../../../../assets/images/requestListBg.png);
    background-size: cover;
    box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.40) !important;
    .requestsList--items {
      .requestsList--scrollContainer {
        margin-left: -6px;
        margin-right: -6px;
        row-gap: 0;
        cursor: grab;
        .requestsList--item__content {
          padding-left: 6px !important;
          padding-right: 6px !important;
          -webkit-animation-name: move;
          -webkit-animation-duration: 4s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: right;
          -webkit-animation-timing-function: linear;
          &:hover {
            -webkit-animation-play-state: paused;
          }
          .requestsList--item {
            width: 245px;
            .requestsList--item__contact {
              color: #F26B04;
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes move {
  0% {
    margin-left: -400px;
  }
  100% {
    margin-left: 800px;
  }
}