/*  ===========  CHANGE ANT DESIGN CLASS  ===========  */
html {
  font-size: 56%;
}

html * {
  font-size: 1.4rem;
}

/*@media (min-width: 576px) {
    html {
        font-size: 58%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 56%;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 61%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 61%;
    }
}*/

.ant-layout {
  background-color: #F6F6F6!important;
}

.ant-layout-footer {
  padding: 0!important;
}