.top--section{
  overflow-x: hidden!important;
  padding: 0 18px;
  margin-bottom: 2rem!important;

  .topSection--requestForm,
  .topSection--requestsList {
    height: calc(50% - 1rem) !important;
  }
  .topSection--requestForm {
    align-self: flex-start !important;
  }
  .topSection--requestsList {
    align-self: flex-end !important;
  }
}

.stats--section {
  margin-bottom: 2rem!important;
}

.shipProductsBanner--section.product--section {
  padding: 0 18px;
  margin-bottom: 4rem !important;
}

.topRankingProducts--section,
.PremiumFactories--section {
  margin-bottom: 2.5rem!important;
}

.recommended--section {
  padding: 0 18px;
  .recommended--caption__content {
    padding: 0 10px;
    margin-bottom: 1rem;
  }
}