.appDownload--container {
  background: #2C2134;
  border-radius: 8px;
  padding: 8px 20px;
  
  .--character {
    width: 56px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 4px 0;
    
    svg {
      display: block;
      margin: 0 auto;
    }
  }
  
  .--caption {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.428571428em;
  }
}