.factories--pageSection {
  margin-top: -1.2rem;
  .factories--container {
    .factories--topSection {
      box-shadow: 0 0 20px 20px #3B3042;
    }
    .factories--bottomSection {
      margin-top: 40px !important;
      .factories--items {
        .factories--item {
          .factories--imageContainer img {
            width: 400px;
            height: 280px;
          }
        }
      }
    }
  }
}