.alaedeenCharacter--container {
  .--character {
    flex: 0 0 26px;
    max-width: 26px;
  }
  
  .--extra {
    flex: 0 0 calc(100% - 26px);
    max-width: calc(100% - 26px);
    display: flex;
    flex-flow: row wrap;
    
    & > div {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
      min-height: 1px;
    }
    
    .__slug {
      color: #474747;
      font-size: .857142857em;
    }
  }
  
  .--link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}