.logo {
  display: flex;
  flex-flow: row wrap;
  
  .--character {
    flex: 0 0 26px;
    
    img {
      width: 100%;
    }
  }
  
  .--extra {
    flex: 1 1 0%;
    display: flex;
    flex-flow: row wrap;
    
    > div {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
      min-height: 1px;
    }
    
    .__slug {
      color: #474747;
      font-size: 1.3rem;
    }
  }
}