// import Mixin:
@import '../../../styles/Mixins';

.header--container {
  height: 148px;
  background-color: #FFF;
  
  .--header {
    padding: 32px 8vw;
  }
  
  .--menu {
    padding: 0 8.5vw;
    height: 40px;
  }
}