.search--container {
  > .ant-col {
    width: 474px;
    background-color: #FAFAFA;
    border: 1px solid #CED4DA;
    border-radius: 88px;
    padding: 0 1.6rem;
    height: 46px;
    line-height: 46px;
    transition: all 0.3s;
  }
  
  .--searchType {
    min-width: 94px;
    
    .ant-select-selector {
      //height: 22px !important;
      
      .ant-select-selection-item {
        color: #82879B;
        font-weight: 400;
      }
      
      &:after,
      .ant-select-selection-item,
      .ant-select-selection-placeholder {
        //line-height: 20px !important;
      }
    }
  
    .ant-select-arrow {
      //top: 55%;
  
      .anticon {
        color: #82879B;
      }
    }
    
    &.ant-select-open {
      .ant-select-arrow {
        .anticon {
          transform: rotate(180deg);
        }
      }
    }
  }
  
  .--searchInput {
    border-left: 1px solid #CED4DA;
  
    &[class*="rtl"] {
      border-left: none;
      border-right: 1px solid #CED4DA;
    }
    
    .ant-select-selector {
      .ant-select-selection-search-input {
        height: 25px;
  
        .ant-input {
          color: #030304;
        }
      }
      
      .ant-input-suffix {
        i {
          color: #2D8327;
        }
      }
    }
  }
}

.--searchType__dropDown,
.search--result {
  padding: 0;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  
  &:not(.ant-select-dropdown-hidden) {
    top: 45px !important;
  }
  
  .ant-select-item-option {
    background-color: #FFF;
  
    .ant-select-item-option-content {
      font-weight: 400 !important;
    }
    
    &:hover,
    &.ant-select-item-option-selected {
      background: #E9ECEF;
  
      .ant-select-item-option-content,
      a {
        color: #2D8327 !important;
      }
    }
  }
}

.--searchType__dropDown {
  .ant-select-item-option {
    .ant-select-item-option-content {
      color: #82879B !important;
    }
  }
}

.search--result {
  .ant-select-item-option {
    .ant-select-item-option-content {
      a {
        color: #030304;
      }
    }
  }
}