// import Mixin:
@import '../../styles/Mixins';

.products--container {
  padding: 0 1rem 2rem;
  @media (min-width: @screen-md) {
    padding: 0 3rem 3rem;
  }

  .subCategoriesSlider {
    .subCategoriesSlider--item {
      &:not(:last-child) {
        border-bottom: 1px solid #BCBCBC;
      }

      a {
        font-size: 1.8rem;
        color: #474747;
        font-weight: 500;
        padding: 1.35rem 0;
        display: block;

        &:hover {
          color: @primary-color;
        }
      }
    }
  }

  .categoriesCarousel {
    .categoriesCarousel--item {
      height: 250px;
    }
  }

  .subCategoriesSwiper {
    .subCategoriesRow--image {
      border-radius: 50%;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.38);
      display: inline-block;

      img {
        border-radius: 50%;
      }
    }

    .subCategoriesRow--link {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
    }
  }

  .products-content {
    .productShowType {
      i {
        &:hover,
        &.active {
          color: @primary-color;
        }
      }
    }
  }

  .products--pagination {
    margin-top: 4rem;
    padding-bottom: 10rem;
    @media (min-width: @screen-md) {
      padding-bottom: 4rem;
    }

    .ant-pagination-prev,
    .ant-pagination-next {
      color: #2D8327;
      &.ant-pagination-disabled {
        color: #707070;
      }
    }

    .ant-pagination-item {
      border: none;

      a {
        font-size: 1.8rem;
        color: #707070;
      }

      &.ant-pagination-item-active {
        border-bottom: 3px solid #3ba949;
        a {
          color: #474747;
          font-weight: bold;
        }
      }
    }
  }
}