// import Mixin:
@import '../../../../../styles/Mixins';

html:lang(fa),
html:lang(ar) {
  .alaedeen-logo {
    .ant-row-rtl,
    .ant-col-rtl {
      direction: ltr;
    }
  }
  
  #raychatBtn {
    left: 0;
    margin-left: 15px;
    margin-right: 0;
  }
}

.dashboard--side__container {
  .alaedeen--logo {
    padding: 0 3rem;
    box-shadow: 0 0 0.5rem 0.13rem rgba(0, 0, 0, 0.15);
    margin-bottom: .3rem;
    height: 70px;

    @media (min-width: @screen-lg) {
      padding: 0 1rem;
    }

    @media (min-width: 1310px) {
      padding: 0 3rem;
    }

    .logo {
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      & > a {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  .dashboard--menu {
    //height: calc(100vh - 146px);
    height: calc(100vh - 71px);
    overflow-y: auto;
    padding-top: 2rem;

    scrollbar-color: darken(#3ba949, 15%) #F5F5F5;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 6px;
      height: 10px;
      background-color: #F5F5F5;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken(#3ba949, 15%);
      border-radius: 10px;
    }

    .user--details {
      padding: 0 1rem;
      height: 40px;

      .--details {
        font-size: 1.6rem;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-self: center;
      }

      .--avatar {
        text-align: center;

        .ant-image {
          &,
          img {
            border-radius: 50%;
          }
        }
      }
    }

    .side--menu {
      .ant-menu-title-content,
      .side--link {
        font-size: 1.5rem;
      }

      .anticon svg {
        transform: scale(1.5);
      }

      i {
        transform: scale(1.4);

        &.fa-product-hunt {
          transform: scale(1.629);
        }
      }

      .ant-menu-item,
      .ant-menu-submenu-title {
        width: 100% !important;
      }
  
      .ant-menu-item {
        height: 42.4px;
        line-height: 42.4px;
      }
    }

    .menuLoading {
      .--menu {
        margin-top: 1.4rem;

        .ant-skeleton-content {
          .ant-skeleton-paragraph {
            li {
              height: 4.5rem;

              &:last-child {
                display: none;
              }
            }

            & > li + li {
              margin-top: 1.5rem;
            }
          }
        }
      }
    }
  }
}