// import Mixin:
@import '../../../../../styles/Mixins';

.dashboardContentHeader {
  margin: -1rem -2rem 0;
  background-color: #E6E6E6;
  padding: 1rem 2rem;
  box-shadow: 0 0 0.5rem 0.13rem rgba(0, 0, 0, 0.15) !important;

  .dashboardContentHeader--caption {
    font-size: 1.6rem;
    font-weight: bolder;
    color: #333;
  }

  .dashboardContentHeader--toggleDrawer {
    i {
      transform: scale(3);
      font-weight: 400;
      color: #333;
    }
  }

}