.topPanel--container {
  height: 41px;
  .topPanel--col {
    padding: 0 18px;
  }

  .topPanel--content__item {
    padding: .5rem .9rem;

    &.hover {
      &:hover {
        background-color: rgba(255, 255, 255, .3);
      }
    }
  }

  .topPanel--content__left {

    .categories--dropDown {
      a {
        color: #FFFFFF !important;
      }
    }
  }

  .ant-space-item {
    color: #FFFFFF !important;
  }

  .ant-divider {
    height: 1.5rem;
  }

  .topPanel--item__text {
    font-size: 1.8rem;
  }

  .topPanel--content__right {
    text-align: right !important;
    .home-icon,
    .question-icon {
      &:hover {
        i {
          color: rgba(255, 255, 255, .3) !important;
        }
      }
    }
  }
}