.homeLogisticsBanner--container {
  height: 600px;
  .homeLogisticsBanner--content {
    .homeLogisticsBanner--img {
      width: 100%;
      height: 100%;
    }

    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

@media (min-width: 992px) {

  .homeLogisticsBanner--container {
    height: 560px;
  }
}