// import Mixin:
@import '../../../styles/Mixins';

html:lang(fa),
html:lang(ar) {
  .news--container {
    .dividerText {
      span {
        padding-left: 15px !important;
        padding-right: 0 !important;
      }
      &:after {
        margin-bottom: 18px;
      }
    }

    .news--item {
      .news--image {
        .ant-image {
          img {
            border-radius: 15px 15px 0 0;
            @media (min-width: @screen-md) {
              border-radius: 0 15px 15px 0;
            }
          }
        }
      }

      .news-date {
        text-align: left;

        i {
          padding-right: 0;
          padding-left: .6rem;
        }
      }
    }
  }
}

.news--container {
  padding: 0 8px;
  @media (min-width: @screen-md) {
    padding: 0 80px;
  }

  .news--caption {
    font-size: 1.6rem;
    text-transform: uppercase !important;
    font-weight: bold;

    padding: 0 10px;
    margin-bottom: 1rem;
    .dividerText {
      &:before {
        width: 0!important;
      }
      span {
        font-size: 3rem!important;
        color: #333333;
        font-weight: bold!important;
        padding-left: 0 !important;
        padding-right: 15px !important;
      }
      &:after {
        height: 9px!important;
        border: 3px solid #D4D4D4 !important;
        border-radius: 50rem !important;
        align-self: flex-end !important;
        margin-bottom: 13px;
      }
    }
  }

  .news--item {
    border-radius: 15px;

    & > .ant-col-lg-17 {
      .ant-skeleton-title, .ant-skeleton-paragraph {
        margin-top: 2.5rem !important;
      }

      .ant-skeleton-content .ant-skeleton-paragraph > li + li {
        margin-top: 2rem !important;
      }
    }

    .news--image {
      max-height: 370px;

      .ant-image {
        display: block;

        &,
        img {
          height: 100%;
        }

        img {
          border-radius: 15px 15px 0 0;
          height: 310px;
          @media (min-width: @screen-md) {
            border-radius: 15px 0 0 15px;
            height: 100%;
          }
        }
      }
    }

    .news--title {
      font-size: 1.45rem;
      @media (min-width: @screen-md) {
        font-size: 2rem;
      }
      font-weight: bolder;
    }

    .news-date {
      font-weight: 600;
      text-align: right;

      &,
      i {
        font-size: 1.3rem;
        @media (min-width: @screen-md) {
          font-size: 1.8rem;
        }
      }

      time {
        font-size: 1.3rem;
        @media (min-width: @screen-md) {
          font-size: 1.6rem;
        }
      }

      i {
        padding-right: .6rem;
      }
    }

    .news--content {
      padding: 0 .5rem 1rem;
      @media (min-width: @screen-md) {
        padding: 1.5rem;
      }

      .news--description {
        text-align: justify;
        line-height: 1.6;
        @media (min-width: @screen-md) {
          line-height: 1.9;
        }

        & > div > span,
        & > div > span > span {
          font-size: 1.5rem;
          @media (min-width: @screen-md) {
            font-size: 2.2rem;
          }
        }

        a {
          color: #2874F2;
        }

        .readMore--link {
          color: #2874F2;
          font-size: 1.5rem;
          @media (min-width: @screen-md) {
            font-size: 2.2rem;
          }
        }
      }

      .news--link {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
      }
    }

    &:hover {
      .readMore--link {
        color: darken(#2874F2, 20%);
      }
    }
  }
}